<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <connectionStrings>
        <!-- 
        Update this connection string based on your MySQL setup:
        - Server: localhost (or your server name)
        - Database: electrical_contractor_db
        - Uid: your MySQL username (usually 'root')
        - Pwd: your MySQL password
        - Port: 3306 (default, add ;Port=XXXX if different)
        - SslMode: none (for local connections)
        -->
        <add name="ElectricalDB" 
             connectionString="Server=localhost;Database=electrical_contractor_db;Uid=root;Pwd=;SslMode=none;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" 
                 invariant="MySql.Data.MySqlClient" 
                 description=".Net Framework Data Provider for MySQL" 
                 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
        </DbProviderFactories>
    </system.data>
</configuration>