<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=localhost;Database=electrical_contractor_db;Uid=root;Pwd=your_password;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CompanyName" value="Erik Rusek Electric" />
    <add key="DefaultLaborRate" value="75.00" />
    <add key="DefaultTaxRate" value="6.60" />
    <add key="DefaultMarkupRate" value="15.00" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
